<!--

Purpose: This include file adds a new site definition

To enable this, rename this file so that it has a ".config" extension and 
change all the parameters to suit your own scenario

Notice how "patch:before" is used to insert the site definition BEFORE the 
existing <site name="website" ...> element 

You can use "patch:before" and "patch:after" as an attribute of an inserted 
element to specify an insertion point for the new element. Both accept an 
XPath relative to the parent node of the inserted element.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>

      <site patch:before="site[@name='website']"
			hostName="*.sugnl.demo.tds|sugnl.demo.tds"
			name="sugnl" 
			virtualFolder="/" 
			physicalFolder="/" 
			rootPath="/sitecore/content/sugnl" 
			startItem="/home" 
			database="master" 
			domain="extranet" 
			allowDebug="true" 
			cacheHtml="true" 
			htmlCacheSize="10MB" 
			registryCacheSize="0" 
			viewStateCacheSize="0" 
			xslCacheSize="5MB" 
			filteredItemsCacheSize="2MB" 
			enablePreview="true" 
			enableWebEdit="true" 
			enableDebugger="true" 
			disableClientData="false" />
    </sites>
  </sitecore>
</configuration>